.cocktail-card {
  border: 1px solid rgba(60, 60, 60, 0.3);
  border-radius: 2px;
  background-color: rgba(150, 150, 150, 0.8);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.cocktail-card-body {
  // border: 1px solid blue;
  margin-bottom: 5px;
}

.row  img {
  margin: 5px 0;
}

#col {
  margin-bottom: 10px;
}
